services:

  # ------------------------------------------------------
  # 1. SeaweedFS – S3 + POSIX FS + WebDAV + NFS in one
  # ------------------------------------------------------
  seaweed-master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-master
    command: "master -ip=seaweed-master -port=9333"
    ports:
      - "9333:9333"
    volumes:
      - seaweed_master:/data

  seaweed-volume:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-volume
    command: "volume -max=5 -mserver=seaweed-master:9333 -port=8080"
    ports:
      - "8081:8080"
    depends_on:
      - seaweed-master
    volumes:
      - seaweed_vol:/data

  seaweed-filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-filer
    command: "filer -master=seaweed-master:9333 -port=8888"
    ports:
      - "8888:8888"
      - "8889:8889"
    depends_on:
      - seaweed-master
    volumes:
      - seaweed_filer:/data

  seaweed-s3:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-s3
    command: "s3 -port=8333 -filer=seaweed-filer:8888 -ip.bind=0.0.0.0"
    environment:
      S3_ACCESS_KEY: admin
      S3_SECRET_KEY: password123
    ports:
      - "8333:8333"
    depends_on:
      - seaweed-filer

  seaweed-webdav:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-webdav
    command: "webdav -port=7333 -filer=seaweed-filer:8888"
    ports:
      - "7333:7333"
    depends_on:
      - seaweed-filer

  seaweed-nfs:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed-nfs
    command: "nfs -filer=seaweed-filer:8888 -port=2049"
    privileged: true
    ports:
      - "2049:2049"
    depends_on:
      - seaweed-filer

  # ------------------------------------------------------
  # 2. Azurite – Azure Blob Emulator
  # ------------------------------------------------------
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    command: "azurite --blobHost 0.0.0.0 --loose --skipApiVersionCheck"
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - azurite_data:/data

  # ------------------------------------------------------
  # 3. Fake GCS – Google Cloud Storage Emulator
  # ------------------------------------------------------
  fake-gcs:
    image: fsouza/fake-gcs-server:latest
    container_name: fake-gcs
    command: ["-scheme", "http", "-port", "4443", "-public-host", "localhost"]
    ports:
      - "4443:4443"
    volumes:
      - gcs_data:/data

volumes:
  seaweed_master:
  seaweed_vol:
  seaweed_filer:
  azurite_data:
  gcs_data:
